/*    font-family: 'Kanit', sans-serif;   */
@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
    margin:0;
    padding:0;
    background:url(img/red.svg) no-repeat;
    background-size:cover;
    font-family: 'Poppins', sans-serif;
    color:#fff;
    width:100%;
}
#wrapper{
   width:50%;
   height:auto;
   margin:0 auto;
   text-align:center;
}

/*HEADER=============================================*/

header{
    width:100%;
    height:auto;
    padding:10px 0 20px 0;
    text-align: center;
}
header h1{
    font-weight:bold;
    font-size:50px;
    margin:20px 0 0 0;
    text-transform: capitalize;
    color:#000;
}


/*CODE-INPUT==========================================*/

#code-box{
    width:100%;
    height:auto;
    padding-top: 60px;
}
#code-box p{
    font-size:20px;
    text-transform: capitalize;

}
#code-box h4{
    color:#000;
    font-size:35px;
   
}

#seconds{
    color:#000 ;
}
#current-code{
    font-size:40px;
    color:rgb(0, 0, 0);
    padding:50px 0 50px 0px;
    margin:0;
}
#code-input{
    border:none;
    border-radius:5px;
    width:70%;
    height:40px;
    font-size:18px;
    
}

/*TIME/SCORE==========================================*/

#score-box h3{
    margin:0;
    font-size:25px;
    text-transform: capitalize;
}
#time-h3{
    padding-top:40px;
}
#score-h3{
    padding-bottom:40px;
}
#time{
    color:#000;
}
#score{
    color:#000;
}
.messageBox{
    width:100%;
    height:100px;
}
/*INSTRUCTIONS========================================*/

#instructions{
    width:70%;
    margin:0 auto;
    height:auto;
    background-color:#fff;
    color:#000;
    border-radius:5px;
    padding:10px 30px;
}
#instructions h3{
    font-weight: bold;
}
/*START SCREEN===========================================*/

#startScreen{
    position: absolute;
    z-index: 100;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.7);
}

#startScreenContent{
    width:40%;
    height:400px;
    padding:20px;
    background-color:#fff;
    margin:200px auto;
    color:#000;
    text-align: center;
    border-radius: 10px;

}


/*SWITCH=============================  */

#switch-container{
    width:100%;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.para{
    margin:0;
    padding:10px;
    font-weight: bold;
    font-size: 17px;
    
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  
  .switch input {display:none;}
  
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #B20808;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #B20808;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/*END SCREEN===========================================*/

#endScreen{
    position: absolute;
    z-index: 101;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.7);
    display:none;
    top:0;
}

#endScreenContent{
    width: 40%;
    height:400px;
    padding:20px;
    background-color:#fff;
    margin:200px auto;
    color:#000;
    text-align: center;
    border-radius: 10px;

}
.button{
    width:110px;
    height:40px;
    margin-top:100px;
    border-radius: 9px;
    background-color:#B20808;
    font-weight: bold;
}
#score2{
    color:#000;
}

/*WINNER SCREEN========================================*/

#winner{
    position: absolute;
    z-index: 101;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.7);
    display:none;
    top:0;
    
}

#winnerContent{
    width: 40%;
    height:400px;
    padding:20px;
    background-color:#fff;
    margin:200px auto;
    color:#000;
    text-align: center;
    border-radius: 10px;

}

.button{
    width:110px;
    height:40px;
    margin-top:100px;
    border-radius: 9px;
    background-color:#B20808;
    font-weight: bold;
    color:#fff;
}


/*MEDIA================================================*/

@media(max-width: 600px){
    body{
        background:rgb(112, 2, 2);
    }
    header{
        height:30px;
        margin:auto;
        background: rgb(168, 168, 168);
        box-shadow: rgba(0, 0, 0, 0.363) 1px 1px 7px 2px;
    }

   #wrapper{
       width:100%;
       margin:0;
   }
   header h1{
       font-size:25px;
       margin:5px;
   }
   #code-input{
       width:90%
   }
   #instructions{
       width:200px;
       
   }
  
   #current-code{
       font-size:14px;
   }
   #code-box{
       height:300px;
   }
   #endScreenContent{
       width:70%;
       font-size:12px;
   }
   #startScreenContent{
    width:70%;
    
   }
   #welcome{
        font-size:18px;
   }
    #see{
        font-size:16px;
   }
   #para{
       font-size: 14px;
   }
}